{% extends 'either/base.html' %}

{% block title%}
 Про нас
{% endblock%}

{% block content%}
<div class="text-center">
<h2>МЫ - команда начинающих веб-разработчиков!</h2>
</div>
<div class="about-text">
<p style="font-weight: 600; text-align: justify;color: #f53b2deb;"> СОКРА.ТИМ предоставляет
  возможность сокращать длинные ссылки и создавать из них свой
  список избранного. Ссылки будут доступны только тому пользователю, которых их
  создал. Зарегистрируйся на сайте и у тебя будет свой собственный список
  коротких ссылок!</p>
<p>В настоящее время мы рады принять в свою команду
  разработчика с такими знаниям:</p>
<ol>
  <li>Python</li>
  <li>HTML</li>
  <li>CSS</li>
  <li>JavaScript</li>
</ol>
<p>Если ты обладаешь даже минимальными знаниями, мы будем рады с тобой работать
  и развиваться вместе! <b>Присоединяйся к нам!</b></p>
<br>
<p class="about-email">Отправляй свое резюме на почту:
  <br>
  <br>
  <b>
    <a style="color: #f53b2deb;"
      href="mailto:admin@sokratim.com">admin@sokratim.com
    </a>
  </b>
</p>

</div>
{% endblock%}
